body
{
background-color: #0099aa;
font-family: Verdana;
font-size: 20px;
color: white;
}
#logo
{
font-size: 40px;
color: black;
}
#menu
{
background-color: #303030;
color: white;
padding: 10px;
margin-top: 20px;
}
.option
{
float: left;
min-width: 25px;
height: 25px;
border-right: 2px dotted #444444;
padding: 10px;
text-align: justify;
color: white;
font-size: 18px;
opacity: 0.8;
}
#topbar
{
background-color: green;
padding: 30px;
margin-top: 20px;
margin-bottom: 25px;
height: 170px;
}

#topbarl
{

float: left;
padding: 20px;
width: 260px;
border-right: 2px dotted #cccccc;

}
#topbarr
{
float:left;
padding: 20px;
width: 700px;
text-align: center;
font-size: 16px;
text-align: justify;

}
.option:hover
{
background-color:#000000;
cursor: pointer;
}
#container
{

}
#content
{
float: left;
background-color: gray:
}
#sidebar
{
background-color: gray;
height: 700px;
width: 138px;
}
